<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url( '<%= image_path 'bar.jpg' %>' );">
  <div class="container">
    <h1>Najboljši koktejl recepti na enem mestu!</h1>
    <p>Najdi najljubši koktejl svojega prijatelja in objavi svojega!</p>
    <%= link_to "Dodaj svoj koktejl", new_cocktail_path, class: 'btn btn-primary btn btn-dodaj-index' %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <h1>Vsi koktejli</h1>
  </div>
  <div class="row justify-content-space-between my-2">
      <% @cocktail.each do |cocktail| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @article.photo.key, crop: :fill %>');">
            <div class="card-description">
              <h2> <%= cocktail.name %> </h2>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
          </div>
        </div>
      <% end %>
  </div>
</div>
