<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url( '<%= image_path 'bar.jpg' %>' );">
  <div class="container">
    <h1>Najboljši koktejl recepti na enem mestu!</h1>
    <p>Najdi najljubši koktejl svojega prijatelja in objavi svojega!</p>
    <div class=" d-flex justify-content-center input-bar my-3">
    <div class="col-sm-8 col-lg-6">
    <%= form_tag cocktails_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control input-najdi",
      placeholder: "Najdi koktejl"
      %>
      </div>
    <% end %>

    </div>
    <%= link_to "Dodaj svoj koktejl", new_cocktail_path, class: 'btn btn-primary btn btn-dodaj-index' %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <h1>Vsi koktejli</h1>
  </div>
  <div class="row justify-content-space-between mt-2 mb-5">
      <% @cocktail.each do |cocktail| %>
        <div class="col-12 col-md-6 col-lg-4">
          <% if cocktail.photo.present? %>
          <div class="card shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key %>');">
            <div class="card-description">
              <h2> <%= cocktail.name %> </h2>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
          </div>
          <% else %>
            <div class="card shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/300x300/?<%=@cocktail.name%>');">
            <div class="card-description">
              <h2> <%= cocktail.name %> </h2>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <hr>
  <div style="text-align: center;">
        <p>Minister za zdravje opozarja: Pretirano pitje alkohola lahko škoduje zdravju! 🍻</p>
  </div>
</div>
