<div>
  <h1>Dodaj merico</h1>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.label :description, label: "KoliÄina" %>
      <%= f.text_field :description, label: "Sestavina" %>
      <%= f.input :ingredient_id, label: "Sestavina", collection: Ingredient.all %>
       <button type="submit" id="btn-dodaj" class="btn btn-primary"><%= f.button :submit,"Dodaj sestavino"%></button>
      <%#= f.submit "Dodaj sestavino", class: 'btn btn-primary'%>
    <% end %>
</div>
