<div>
  <h5>Dodaj merico</h5>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.label :description, required: true, label: "KoliÄina"  %>
      <%= f.text_field :description, label: "Sestavina", required: true %>
      <%= f.input :ingredient_id,required: true, label: "Sestavina", collection: Ingredient.all %>
       <button type="submit" id="btn-dodaj" class="btn btn-primary"><%= f.button :submit,"Dodaj sestavino"%></button>
      <%#= f.submit "Dodaj sestavino", class: 'btn btn-primary'%>
    <% end %>
</div>
